body {
  font-family: "SangBleu OG Serif Light Regular";
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: "Helvetica Neue";
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
