body {
  font-family: "SangBleu OG Serif Light Regular";
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font: "favorit";
}

span {
  cursor: pointer;
  font: "favorit";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
